<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>移动模版</title>
  <meta name="fragment" content="!" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" /> 
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" /> 
    <link rel="stylesheet" href="style/base.min.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
<div id="loading">
<div id="circular" ><div id="circular_1" class="circular"></div> <div id="circular_2" class="circular"></div> <div id="circular_3" class="circular"></div> <div id="circular_4" class="circular"></div> <div id="circular_5" class="circular"></div> <div id="circular_6" class="circular"></div> <div id="circular_7" class="circular"></div> <div id="circular_8" class="circular"></div> </div>
 </div>
   <div id="main" class="ant-fadeIn" ms-controller="app">
  <header ><h1>移动模版</h1></header>
<div  id="appBD">
    <ul>
        <li><a href="#/aaa">aaa</a></li>
        <li><a href="#/bbb">bbb</a></li>
        <li><a href="#/ccc">ccc</a></li>
        <li><a href="#/ddd/222">ddd</a></li>
        <li><a href="#/eee">eee</a></li>
    </ul>
    <div style="color:red">{{currPath}}</div>
    <div style="height: 200px;width:1px;">
    </div>
    <p id="eee">会定位到这里</p>
</div>
<footer><span class="m-fbd"><a href="#/index">首页</a></span><span class="m-fbd"><a href="#/bbb">页面2</a></span><span class="m-fbd"><a href="#">首页</a></span></footer>
</div>

    <script src="js/avalon.js"></script>
    <script>
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
WeixinJSBridge.call('hideToolbar');
});
require("mmRouter", function() {
    var model = avalon.define('app', function(vm) {
        vm.currPath = ""
   
    })
    avalon.router.get("/index", function(a) {
        model.currPath = this.path
    })
    avalon.router.get("/bbb", function(a) {
        model.currPath = this.path
    })
    avalon.router.get("/ccc", function(a) {
        model.currPath = this.path
    })
    avalon.router.get("/ddd/:ddd", function(a) {//:ddd为参数
        avalon.log(a)
        model.currPath = this.path
    })
    avalon.router.get("/eee", function(a) {
        model.currPath = this.path
    })
    avalon.history.start({
        basepath: "/index"
    })
    avalon.scan();
    document.getElementById('loading').style.display='none';
    document.getElementById('main').style.display='block';
   
})
    </script>
</body>
</html>